@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  direction: rtl;
  text-align: right;
}

* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

@theme {
  --color-primary: #1B4166;
  --color-primary-dull: #183457;
  --color-light: #F1F5F9;
  --color-borderColor: #CBD5E1;
  --color-dark: #0F172A;
}